.borderModule {
    border: 1px solid #262626 !important;
    border-radius: 10px !important;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}