* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif !important;
}



ul li {
  list-style: none;
}

ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 10px 10px;
  padding: 0px 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}

ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

ul li a:hover,
ul li Button:hover * {
  color: #fff !important;

}

ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}

ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

/* Loader Styles */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Class top to bring the element to the top level */
.top {
  position: fixed;
  z-index: 9999 !important;
}

/* Styling The close button in Modal */
button[aria-label="Close"] {
  border: none;
  background-color: transparent;
  margin-left: auto;
  position: absolute !important;
  left: 90% !important;

}

/* Styling the Modal */
section[role="dialog"] {
  position: absolute !important;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 9999;
}

/* Reset Modal Style Button */
Button {
  background-color: transparent;
  border: none;
  outline: none;
}